.footer {
    background-color: #222831;
    color: #fff;
    padding: 40px 20px;
    font-size: 14px;
    bottom: 0;
    z-index: 1000;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1 1 30%;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  
  .footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 5px;
  }
  
  ul li a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  ul li a:hover {
    color: #fff;
  }
  
  .footer-bottom {
    margin-top: 20px;
    text-align: center;
    font-size: 0.9em;
    border-top: 1px solid #555;
    padding-top: 10px;
  }
  